.navbar {
	margin-bottom: 0px;
}

.navigation {
	background: #15212f;
}

.navigation > .navbar-default {
	background: #15212f;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-brand>img {
	height: 60px;
}

.navbar-default .navbar-brand:hover {
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	height: 90px;
	padding-top: 35px;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
	background: #b2001a;
	color: #fff;
}

.form-search {
	margin-top: -7px;
}