.navbar {
	margin-bottom: 0px;
}

.navigation {
	background: #15212f;
}

.navigation > .navbar-default {
	background: #15212f;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-brand>img {
	height: 60px;
}

.navbar-default .navbar-brand:hover {
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	height: 90px;
	padding-top: 35px;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a.over {
	background: #b2001a;
}

.navbar-default .navbar-nav>li>a:hover {
	background: #b2001a;
	color: #fff;
}

.navbar-submenu {
	position: absolute; 
	width: 250px; 
	padding: 5px; 
	background: #b2001a;
	display: none;
}

.navbar-submenu ul { list-style-type: none; margin: 0; padding: 0; }
.navbar-submenu ul li a {
	color: #fff;
	padding: 5px;
	display: block;
}

.navbar-submenu ul li a:hover {
	text-decoration: underline;
}

.form-search {
	margin-top: -7px;
}