body {
	font-family: 'Open Sans', sans-serif !important;
	background: #df0012;
	font-size: 14px;
}

.app {
	background: #fff;
}

a {
	color: #df0012;
}

a:hover {
	color: #15212f;
	text-decoration: none;
}

img {
	border: 0;
	max-width: 100%;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}